.GFTBmask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	border: 0;
}

#GFTBoverlay.GFTBmask {
	background-color: #f8f8f0;
	opacity: 0.8;
	z-index: 9999;
	-webkit-transition: all 150ms ease-out;
}

#GFTBsavetobasketCnt #GFTBheader {
	background: #f5b655 url("icons/logo.png") no-repeat center center;
	height: 60px;
	line-height: 60px;
	border: none;
	border-bottom: 1px solid #dedede;
	margin-bottom: 30px;
}

#GFTBsavetobasketCnt #GFTBclose {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 28px;
	width: 28px;
	background: url("icons/closeBtn.png") no-repeat;
	color: #ccc;
	cursor: pointer;
}

#GFTBproductCnt {
	height: 768px;
	overflow: auto;
}

#GFTBsavetobasketCnt {
	z-index: 99999;
	text-align: center;
	-webkit-transition: all 150ms ease-out;
	width: 768px;
	height: 860px;
	left: 50%;
	margin-left: -385px;
	background: #fff;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	border: 1px solid #edede9;
}

#GFTBsavetobasketCnt .GFTBproductWrapper {
	position: relative;
	display: inline-block;
	width: 236px;
	height: 236px;
	margin: 5px;
	border: 1px solid #dedede;
	text-align: left;
	-webkit-transition: all 200ms ease-out;
	cursor:pointer;
	background: #FFF;
	zoom: 1;
	*display: inline;
}

#GFTBsavetobasketCnt .GFTBproductWrapper:hover {
	border-color: #f5b655;
	background: #f2f2f2;
}

#GFTBsavetobasketCnt .GFTBproductWrapper .button {
	-webkit-transition: all 150ms ease-out;
	opacity: 0;
}

#GFTBsavetobasketCnt .GFTBproductWrapper:hover .button {
	opacity: 1;
}

#GFTBsavetobasketCnt .GFTBproduct img {
	display: block;
	position: relative;
	background: none;
	-webkit-transition: opacity 150ms ease-out;
}

#GFTBsavetobasketCnt .GFTBproduct {
	position: relative;
	overflow: hidden;
	margin: 18px;
	width: 200px;
	height: 200px;
	background: #f8f8fc;
}

#GFTBsavetobasketCnt .GFTBbutton, #GFTBsavetobasketCnt .GFTBnewbasketButton {
	background-color: #f5b655;
	border:1px solid #e89400;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Arial', sans-serif;
	font-size:13px;
	font-weight:bold;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 20px;
	width: 160px;
	text-align: center;
	text-decoration:none;
	margin: 0 auto;
	padding:6px 0;
}

#GFTBsavetobasketCnt .GFTBbutton:hover, #GFTBsavetobasketCnt .GFTBnewbasketButton:hover {
	background: #e7a53f;
}

.GFTBconf_image {
    width: 40%;
    margin:0 20px;
    float: left;
}

.GFTBconf_image img{
	padding: 10px;
	width: 100%;
	height: auto;
	border:5px solid #edede9;
}

.GFTBconf_overview{
	float: left;
	width: 52%;
	padding: 0 20px 20px;
}

.GFTBconf_overview h4{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #edede9;
}

.GFTBconf_overview .GFTBbutton{
	position: relative !important;
	bottom:0 !important;
}

.GFTBconf_overview .GFTBbutton:hover{cursor: pointer;}

.GFTBconf_overview .GFTBbutton#GFTBaddButton{margin-right: 20px !important;}
.GFTBconf_overview .GFTBbutton{
	float: left;
}
